body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h3 {
  color: #333;
  margin: 0;
}

img {
  max-width: 100px;
}
